body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #BC96E6;
}
form{
    border: 2px solid #644B22;
    border-radius: 10px;
    padding: 40px;
}
input[type=text], [type=password]{
    padding: 12px 20px;
    display: inline-block;
    background-color: #7F735E;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid #8B635C;
    font-family: "ralewayThin";
    font-size: 16px;
    outline: none;
}
button{
    background-color:#644B22;
    color: #FFF3E6;
    padding: 10px 20px;
    display: block;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
}
button:hover{
    background-color: #7F735E;
}